@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    background: #07A287;
}

h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navegação{
    background: #05856F;
}

.navegação > img{
    background: transparent;
}

.formulario{
    padding: 10px;
}

.botao-submit{
    float: right;
    background: #43CB75;
    color: #ffffff;
    width: 300px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
}

.botão{
    border: none;
}

footer{
    background: #05856F;
    color: white;
}

.texto-footer{
    text-align: center;
}

.imagem{
    background: transparent;
    border: none;
}

.imagem-home{
    width: 30%;
}

.imagem-menor{
    width: 50px;
    height: auto;
}

.redesocial{
    width: 60px;
    height: 60px;
}

footer .container .row{
    text-align: center;
}

.hidden {
    display: none;
}

.command_hidden:checked ~ .hidden,
{
    display: block;
}

.edit-bt{
    background-color: #1593E7;
    color: white;
    margin-bottom: -40px;
    font-size: 18px;
    width: 90px;
    height: 40px;
}

.especifies{
    margin-left: 30px;
    margin-right: 20px;
}

.upper-div{
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0.5px 1px 0.5px 1px #B8B8B8;
    border-radius: 20px;
    border-width: 2px;
    border-color: black;
    padding: 20px;
    background-color: white;
    background-color: white;
}

.upper-div-2{
    box-shadow: 0.5px 1px 0.5px 1px #B8B8B8;
    border-radius: 20px;
    border-width: 2px;
    border-color: black;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.95)
}

.extra-space{
    margin-left: 30px;
}

.inner-div{
    background-color: #ccb378;
    padding-top: 10px;
    height: 40px;
    color: white;
    padding-left: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 3px;
}

.titles {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: #3CB371;
}

.label-static {
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
    color: #6aab42;
}

.label-static-2 {
    font-size: 22px;
    font-weight: bold;
    color: #008080;
    text-align: center;
}

.label-ntstatic {
    font-size: 16px;
    font-weight: bold;
}

.label-ntstatic-2 {
    font-size: 18px;
    text-align: center;
}

.required:after {
    content:" *";
    color: red;
  }

.marker{
    font-weight: bold;
    font-size: 35px;
    margin-left: 30px;
    color:#479718;
}

.marker-link{
    text-align: center;
    color: red;
}

.divider{
    border: none;
    height: 3px;
    /* Set the hr color */
    color: #ccb378; /* old IE */
    background-color: #ccb378;
}

.esp{
    margin-left: 7px;
    margin-right: 0px;
    margin-bottom: -20px;
}

.outliner{
    border: none;
    height: 3px;
    color: #e9e9e9; /* old IE */
    background-color: #e9e9e9;
}

.img-left{
    background-image: url('../images/orange-5143042_1920.jpg');
    background-size: cover;
    border-radius: 20px;
}

.input-stl{
    background-color: white;
    color: black;
    border-radius: 5px;
    border: #e9e9e9 solid;
}

.container-main{
    min-height: 1000px;
    width: 100%;
    background-color: #07A287;
    margin-inline-start: 139px;
}

.bt-canteiro{
    width: 300px;
    padding: 5px;
    background-color: white;
    border-style: solid;
    border-color: #3CB371;
    border-width: 3px;
}

/* Sidebar */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    position: absolute;
    min-width: 260px;
    max-width: 260px;
    min-height: 1320px;
    height: fit-content;
    background: #05856F;
    color: #fff;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #05856F;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a i {
    margin-right: 10px;
}

.botao-menu{
    color: #fff;
    background-color: #07A287 !important;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 6px;
}

a:hover,a:visited:hover {
    color: #c9f7f0;
}

.imagem-botao-menu{
    margin-bottom: 5px;
    color: #fff;
    width:23px;
    height:23px;
}

.basic-space{
    width: auto;
    background-color: #F5F5F5;
    font-weight: bold;
    text-decoration: none;
}

.link{
    position:absolute;
    display:block;
    text-decoration: none !important;
    width: 50%;
}

.reuniao{
    height:18px;
    width:25px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle-menu::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

li:hover ul {
    display: block;
}

li{
    content: "\2022";
    color: #fff
}

/* Login */

.labelLogin{
    font-size: 20px;
    color: #186615;
}

.botao{
    width: 295px;
    height: 40px;
    font-size: 18px;
}

.entrar{
    background-color: #32aa2a !important;
}

.cadastrese{
    background-color: #1593E7 !important;
}

.card{
    margin: 30px;
    width:345px;
    border-radius: 10px;
    left: 780px;
    padding: 10px;
}

.container-inicial{
    height: 525px;
}

#entrarLogin{
    font-weight: bold;
    margin-top: 20px;
    margin-left: 140px;
    color: rgb(51, 167, 51);
}

.esqueceuSenha{
    margin-top: 15px;
    margin-left: 90px;
    text-decoration: underline;
    color: #1593E7 !important;
}

#lembrarUsuario{
    opacity: 50%;
    font-size: 15px;
}

/* Tela listar reuniões */

.container-conteudo{
    height: 1000px;
    width: 1091px;
    background-color: #07A287;
    margin-inline-start: 139px;
    padding-top: 40px;
}

#jumbotron{
    margin-inline-start: 40px;
    height: 920px;
    width: 1010px;
    background-color: #fff;
    border-radius: 20px;
    padding: 40px;
}

#botao-agendar{
    margin-top: -50px;
    margin-left: 800px;
    background-color:  rgb(51, 167, 51);
}

#cabecalho-reuniao{
    text-align: left;
    color:  rgb(51, 167, 51);
}

.linha-cabecalho{
    margin-top: -5px;
    background-color: #CCB378;
}

#cabecalho{
    display: inline;
}

#cabecalho-reuniao{
    font-size: 30px;
}

#nome-tabela-reuniao{
    padding: 10px;
    background-color:#CCB378;
    color: #fff;
    margin-bottom: 15px;
    font-weight: bold;
}

.nome-col{
    background-color:#CCB378;
    color: #fff;
    font-weight: normal;
}

#tabela{
    border-collapse: collapse;
    background-color: #F5F5F5;
    border-width: 1px;
    border-color: #CCB378;
}

#coluna-images{
    padding: 8px;
}

.imagens-acoes{
    position: relative;
    width: 30px;
    border-radius: 4px;
    padding: 6px;
}

#botao-n-producao{
    border-color: #3ACB2F;
    border-style: ridge;
    border-width: 5px;
}

#botao-registrar{
    background-color: #F5BB1C;
}

#botao-editar{
    background-color: #1593E7;
}

#botao-cancelar{
    height: 30px;
    background-color: #FF0000;
}

#linha-legenda{
    margin-top: 150px;
}

.div-lado{
    margin-right: 20px;
    display: inline-block;
}

.cor-texto{
    color:black !important;
}

.imagem-registro{
    position: relative;
    width: 25px;
    margin-right: 5px;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 50%;
}

/* Agendar reunião modal */

#contentModal{
    border-radius: 20px !important;
    padding: 20px;
    padding-bottom: 0px;
}

#titulo{
    margin-top: 10px;
    font-size: 30px;
    color: rgb(25, 150, 25);
}

.corLabelReuniao{
    color: rgb(31, 143, 31);

}

#linhaCabecalhoReuniao{
    background-color: #CCB378;
}

#labelInformacoes{
    padding: 10px;
    background-color: #CCB378;
    color: #fff;
    width: 728px;
}

.asterisco{
    color: red;
}

.fonteFooter{
    font-size: 16px;
}

#botao-agendar-reuniao{
    background-color: #43CB75;
    width: 250px;
    margin-top: -8px;
    height: 40px;
    margin-left: 108px;
}

#divCamposObrigatorios{
    margin-left: 5px;
}

#labelCancelar{
    margin-left: 170px;
    color: black;
    opacity: 70%;
    margin-right: 50px;
}

.bg-verde{
    background-color: rgb(51, 167, 51) !important;
}
.bigger-bt{
    margin-left: -100px;
    width: 250px;
}

/* Tela - Registrar reunião */

.container-registrar-reuniao{
    height: 1400px;
    width: 1091px;
    background-color: #07A287;
    margin-inline-start: 139px;
    padding-top: 40px;
}

#jumbotron-registrar-reuniao{
    margin-inline-start: 40px;
    height: 1320px;
    width: 1010px;
    background-color: #fff;
    border-radius: 20px;
    padding: 40px;
}

#linha-registrar-reuniao{
    margin-top: 8px;
    margin-bottom: 8px;
}

#ata{
    margin-bottom: 15px;
}

#imagemPresente{
    width: 25px;
    margin-right: 5px;
}

#botaoPresente{
    background-color: #666666;
    color: #F5F5F5;
}

#botaoProcurar{
    background-color: #1593E7;
    margin-left: 5px;
}

#botao-registrar-reuniao{
    background-color: #43CB75;
    width: 250px;
    margin-top: -8px;
    height: 40px;
    margin-left: 237px;
}

#labelCancelar-registrar{
    margin-left: 280px;
    color: black;
    opacity: 70%;
    margin-right: 50px;
}

#searchbar{
    margin-left: -80px;
}

#labelProdutor{
    margin-top: 8px;
}

#botao-pesquisa{
    background-color: #1593E7;
    margin-left: -80px;
    margin-top: 1px;
    width: 35px;
}

#botao-adicionar-participante{
    margin-left: -18px;
    background-color: #E68414;
    color: #F5F5F5;
}