h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;

    color: #000000;

}

.formulario{
    flex: 1;
    align-items: center;
}


form .input-block{
    width: 96%;
    height: 80px;
    margin: 10px;

    text-align: center;
    vertical-align: middle;
    border-radius: 15px;
}

form .input-block input{
    width: 100%;
    height: 100%;
    padding: 10px;

    text-align: left;
    font-size: 18px; 
    line-height: 21px;

    background: #D5D1D1;
    border: none;
    stroke: none;
    border-radius: 15px;
    outline: none;
}

form .grupo-informacoes .input-block select{
    width: 100%;
    height: 100%;
    padding: 20px;

    
    font-size: 18px; 
    line-height: 21px;

    background: #D5D1D1;
    border-radius: 15px;
    border: none;
    outline: none;
}

form .agrupar{
    display: flex;
    flex-direction: column;
}

form .grupo-informacoes{
    display: flex;
    align-items: flex-start;

    width: 100%;
}


form .grupo-informacoes .input-block input{
    width: 100%;
    padding: 10px;

    flex: 1;
}

form .input-block input img{
    width: 60px;
    height: 60px;
}


form button{
    flex: 1;
    background: #08862D;
    width: 215px;
    height: 58px;
    margin: 20px 300px;


    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;

    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-style: normal;
    color: white;
    font-size: 18px;
    line-height: 21px;


    vertical-align: middle;
}

form button:hover{
    background: #08c240;
}
