@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* navbar*/
nav{
    position: absolute;
    width: 1440px;
    height: 50px;
    left: 0px;
    top: 0px;
    
    background: #010F16;
    border-radius: 5px;
}

nav .logo{
    position: absolute;
    width: 163px;
    height: 38px;
    left: 92px;
    top: 6px;

    background: #555555;
    text-align: center;
}

.conteudo-principal{
    position: absolute;
    width: 893px;
    height: 905px;
    left: 0px;
    top: 50px;

    background: #FFFFFF;
}

.conteudo-principal h1{
    position: absolute;
    width: 432px;
    height: 56px;
    left: 230px;
    top: 215px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 48px;
    line-height: 56px;

    color: #000000;
}

.conteudo-principal p{
    position: absolute;
    width: 453px;
    height: 42px;
    left: 235px;
    top: 271px;
    padding: 5px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}

.conteudo-principal .informacoes-login{
    position: absolute;
    width: 644px;
    height: 78px;
    left: 124px;
    top: 356px;
}

.conteudo-principal .informacoes-login .caixa-texto{
    overflow: hidden;
    width: 644px;
    height: 78px;
    margin: 5px;
    display: flex;
    justify-items: center;

    font-size: 36px;

    background: #D5D1D1;
    border-radius: 15px;
}

.conteudo-principal .informacoes-login .caixa-texto i{
    width: 50px;
    height: 50px;
    float: left;
    left: 10px;
    top: 5px;
    text-align: center;
}

.conteudo-principal .informacoes-login .caixa-texto input{
    border: none;
    outline: none;
    background: none;
    color: white;
}

.conteudo-principal button{
    position: absolute;
    width: 215px;
    height: 58px;
    left: 354px;
    top: 648px;

    background: #08862D;
    border: none;
    outline: none;
    border-radius: 15px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}

.imagem{
    position: absolute;
    width: 547px;
    height: 905px;
    left: 893px;
    top: 50px;

    background: url('../images/orange-5143042_1920.jpg');
    border-radius: 5px;
}

.imagem button{
    position: absolute;
    width: 259px;
    height: 74px;
    left: 144px;
    top: 417px;

    background: #08862D;
    border: none;
    outline: none;
    border-radius: 15px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}



footer{ 
    position: absolute;
    width: 1440px;
    height: 69px;
    left: 0px;
    top: 955px;

    background: #010F16;
}
