@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* navbar*/
nav{
    position: absolute;
    width: 1440px;
    height: 50px;
    left: 0px;
    top: 0px;
    
    background: #010F16;
    border-radius: 5px;
}

nav .logo{
    position: absolute;
    width: 163px;
    height: 38px;
    left: 92px;
    top: 6px;

    background: #555555;
    text-align: center;
}

.conteudo-principal{
    position: absolute;
    width: 893px;
    height: 905px;
    left: 0px;
    top: 50px;

    background: #FFFFFF;
}

footer{ 
    position: absolute;
    width: 1440px;
    height: 69px;
    left: 0px;
    top: 955px;

    background: #010F16;
}
